<div *ngIf="currentPost$ | async as post">
  <app-toolbar [title]="post.title"></app-toolbar>
  <div class="wrapper">
    <mat-card class="blog-post">
      <mat-card-content>
        <img mat-card-lg-image src="/assets/img/blog-post.jpeg">
        {{ post?.body }}
      </mat-card-content>
    </mat-card>

    <div class="post-comments-wrapper">
      <h1>Comments</h1>
      <mat-card class="post-comments" *ngFor="let comment of post?.comments">
        <mat-card-title> {{ comment.name }} </mat-card-title>
        <mat-card-subtitle> {{ comment.email }} </mat-card-subtitle>
        <mat-card-content> {{ comment.body }} </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="error-message" *ngIf="errorMessage$ | async as errorMessage"> {{ errorMessage }} </div>
