name: Build and Deploy
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Run Tests
        run: npm test-ci

  deploy:
    runs-on: ubunru-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy
        run: npm run deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}
